@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.068);

}

textarea{
    width: 457px;
    height: 250px;
}
input:hover {
    background-color: darkgrey;
}

textarea:hover {
    background-color: rgba(169, 169, 169, 0.247);
}

legend {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset{
    border-color: #cecece ;
    
}

fieldset#sexo {
    width: 250px;
    margin-left: 103px;
}

fieldset#usuario {
    background: url(../imagens/icone-contato.png) no-repeat 95% 95%;
}

fieldset#endereco {
    background: url(../imagens/icone-endereco.png) no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url(../imagens/icone-mensagem.png) no-repeat 95% 95%;
}

fieldset#pedido {
    background: url(../imagens/icone-pagamento.png) no-repeat 95% 95%;
}